*{
    margin: 0;
    padding: 0;
    text-align: center;
}
h1{background-color:black;
color: aliceblue;
height: 5rem;
line-height: 5rem;

}
.choice{height: 200px;
    width: 200px;
    border-radius: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

    img{height: 170px;
        width: 170px;
    object-fit: cover;
border-radius:50%;
}
.choice:hover{
  
    cursor: pointer;
    background-color: black;
}
.choices{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin:20px;
    gap:2rem;
    align-items: center;
}
.score-board{
    justify-content: center;
    display: flex;
    gap:3rem;
    margin-top: 20px;
    margin-bottom: 20px;

}
#user-score, #comp-score{
    color: black;
    font-size:4rem ;
}

#msg{background-color:bisque;
color:black;
font-size: 2rem;
display:inline;
border-radius: 1rem;}